<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Photo</title>
</head>

<body>
   <header></header>

   <section>
       <img src="assets/img/bachelor Mike obrez.jpg" id="img" name="img">
      <form id="form_form_photo">
          <input id="load_photo" name="load_photo" type="file">
          <input type="button" id="button_save_photo" value="Сохранить фото">
      </form>
   </section>

   <footer></footer>

   <link rel="stylesheet" type="text/css" href="css/styleMainPage.css">
   <script src="js/jquery.js"></script>
   <script src="js/jsForMainPage.js"></script>
</body>

</html>